<div class="article-info">
  <div class="article-info__header">
    <div class="article-info__header-cover-image">
      <%= image_tag(article.cover_image) %>
    </div>
    <div class="article-info__info">
      <% if article.user %>
        <div class="article-info__info-item">
          <div class="article-info__info-item-key">
            Добавил
          </div>
          <div class="article-info__info-item-value">
            <%= link_to article.user.full_name, admin_user_url(article.user.id) %>
          </div>
        </div>
      <% end %>
      <div class="article-info__info-item">
        <div class="article-info__info-item-key">
          Автор
        </div>
        <div class="article-info__info-item-value">
          <%= article.author.try(:full_name) || article.author %>
        </div>
      </div>
      <div class="article-info__info-item">
        <div class="article-info__info-item-key">
          Оригинал
        </div>
        <div class="article-info__info-item-value">
          <%= article.origin %>
        </div>
      </div>
      <div class="article-info__info-item">
        <div class="article-info__info-item-key">
          Перевод
        </div>
        <div class="article-info__info-item-value">
          <%= article.translate %>
        </div>
      </div>
      <div class="article-info__info-item">
        <div class="article-info__info-item-key">Редакция</div>
        <div class="article-info__info-item-value">
          <%= article.redaction %>
        </div>
      </div>
      <div class="article-info__info-item">
        <div class="article-info__info-item-key">Оформление</div>
        <div class="article-info__info-item-value">
          <%= article.infographic %>
        </div>
      </div>
      <div class="article-info__info-item">
        <div class="article-info__info-item-key">Тэги</div>
        <div class="article-info__info-item-value">
          <%= article.tag_list %>
        </div>
      </div>
      <div class="article-info__info-item">
        <div class="article-info__info-item-key">Дата публикации</div>
        <div class="article-info__info-item-value">
          <%= I18n.localize(article.publish_on) %>
        </div>
      </div>
      <div class="article-info__info-item">
        <div class="article-info__info-item-key">Дата создания</div>
        <div class="article-info__info-item-value">
          <%= I18n.localize(article.created_at) %>
        </div>
      </div>
      <div class="article-info__info-item">
        <div class="article-info__info-item-key">Дата обновления</div>
        <div class="article-info__info-item-value">
          <%= I18n.localize(article.publish_on) %>
        </div>
      </div>
    </div>
  </div>
  <div class="article-info__body">
    <%= article.body.html_safe %>
  </div>
</div>
