= f.input :title, label: "Заголовок", :input_html => { :class => :js_title }
= render :partial => "admin/text_editor", locals: { f: f }
= render :partial => "admin/image_uploader", locals: {f: f, label: 'Обложка квадратная (≈ 675 x 475)', name: "cover_image", message: "Обложка не представлена"}
= render :partial => "admin/image_uploader", locals: {f: f, label: 'Обложка прямоугольная (≈ 675 x 285)', name: "small_cover_image", message: "Миниатюра обложки не представлена"}
= f.input :short_description, label: "Краткое описание", :placeholder => 'max 250 символов'
= f.input :tag_string, label: 'Теги', :input_html => { :class => :js_tags }
= f.input :author, label: "Автор", :input_html => { :class => :js_author }
= f.input :redaction, label: "Редакция", :input_html => { :class => :js_redaction }
= f.input :infographic, label: "Оформление", :input_html => { :class => :js_infographic }
= f.input :origin, label: "Оригинал", :input_html => { :class => :js_original }
= f.input :translate, label: "Перевод", :input_html => { :class => :js_translate }
= f.input :publish_on, label: "Отложенный постинг", as: :date_time_picker
= f.input :fixed, label: "Закрепить в шапке"
