<div class="site-config__data">
  <% if pinned_articles.any? %>
    <div>
      <div>Закрепленные статьи:</div>
      <% pinned_articles.each do |article| %>
        <span> <%=link_to(article.title, admin_longread_article_path(article)) %> </span>
      <% end %>
    </div>
  <% end %>
  <% if promoted_articles.any? %>
    <div>
      <div>Продвигаемые статьи:</div>
      <% promoted_articles.each do |article| %>
        <span> <%=link_to(article.title, admin_longread_article_path(article)) %> </span>
      <% end %>
    </div>
  <% end %>
  <% if pinned_blogs.any? %>
    <div>
      <div>Закрепленные блоги:</div>
      <% pinned_blogs.each do |blog| %>
        <span> <%=link_to(blog.title, admin_blog_article_path(blog)) %> </span>
      <% end %>
    </div>
  <% end %>
  <% if promoted_blogs.any? %>
    <div>
      <div>Закрепленные блоги:</div>
      <% promoted_blogs.each do |blog| %>
        <span> <%=link_to(blog.title, admin_blog_article_path(blog)) %> </span>
      <% end %>
    </div>
  <% end %>
  <% if slider_articles.any? %>
    <div>
      <div>Слайдер:</div>
      <% slider_articles.each do |blog| %>
        <span> <%=link_to(blog.title, admin_blog_article_path(blog)) %> </span>
      <% end %>
    </div>
  <% end %>
</div>
