<!DOCTYPE html>
<html>
  <head>
    <title>Medach</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= @rich_preview[:description] %>" />
    <meta property="title" content="<%= @rich_preview[:title] %>" />
    <meta property="og:title" content="<%= @rich_preview[:title] %>" />
    <meta property="og:image" content="<%= @rich_preview[:image] %>" />
    <meta property="og:description" content="<%= @rich_preview[:description] %>" />
    <meta property="keywords" content="<%= @rich_preview[:keywords] %>"/>
    <%= csrf_meta_tags %>

      
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  </body>
</html>